*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

a{
    text-decoration:none;
}
html{
    scroll-behavior: smooth;
}
.fullscreen{
    width:100%;
    
.wrapper{
    background: url("./images/yoga.jpg");
    height:100vh;
    width:100%;
    background-size: cover;
    opacity: 0.9;
    background-position: 50% 7% ;
 
    .new{
        height:60vh;
        position: absolute;
        top:0;
        left:0;
        right: 0;
        z-index: 999  ;
        flex-direction: column;
        transition: all 0.5s ease-in-out ;
    }

    .top{
        position: fixed;
        right:.5em;
        height:40px;
        width:40px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        bottom:.5em;
        z-index:111;
        opacity: 0.8;
        border-radius: 50%;
        background-color: rgb(11, 201, 248);
        display: none;
        a{
            text-decoration: none;
            color:white;
            font-size: 1rem;
        }
    }
    nav{
        height:15vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: transparentize(white,0.05);
        
        .fa-times{
            display: none;
        }
        .burger{
            height:1.4em;
            display: none;
            width:2.5em;
            cursor: pointer;
            

            .layer1,.layer2,.layer3{
                height:0.2em;
                width:100%;
                background-color: black;
                margin-top: .23em;
                transition: all 0.5s ease-in-out;
            }

            
        }

        .cross{
            position: absolute;
            right:17.4%;
            top:7.9%;
            .layer1,.layer2,.layer3{
                position: absolute;
            }
            .layer1,.layer2{
                transform: rotate(45deg);
                top:40%;
            }
            .layer3{
                transform: rotate(-45deg);
               top:40%;
            }
        }

        

        .logo{
            font-size: 2.3em;
            text-transform: capitalize;
            font-family: verdana;
            background-image: linear-gradient(120deg,red,blue);
            -webkit-background-clip: text;
            -webkit-text-fill-color:transparent;
        }

        .menubar{
            width:50%;
            height:10vh;

            .list{
                display: flex;
                list-style: none;
                justify-content: space-evenly;
                height:100%;
                align-items: center;

                .list-items{
                    text-transform: capitalize;
                    font-family: 'Courier New', Courier, monospace;
                    font-size: 1.7em;
                    height:5vh;

                    a{
                        text-decoration: none;

                        &:hover{
                            color:lighten(black,40);
                        }
                    }
                }
            }
        }
    }

    

    .social-icons{
        width:7%;

        .social-list{
            display: flex;
            list-style: none;
            justify-content: space-between;

            .social-list-items{
                font-size: 1.3em;
               
                a{
                    text-decoration: none;
                }

                .fa-facebook{color:blue;}
                .fa-instagram{background-image: linear-gradient(195deg,rgb(245, 38, 38),rgb(255, 0, 221));
                -webkit-background-clip: text;
                -webkit-text-fill-color:transparent;}
                .fa-telegram{color:rgb(132, 0, 255);}

                &:hover{
                    transform: scale(1.3);
                }
            }
        }
    }
    .heading{
        height:26vh;
        width:100%;
        color:white;   
        text-align:center;
        position: absolute;
        left:50%;
        top:50%;
        transform: translate(-50%,-50%);

        span:first-child{
            font-size:6vh;
            color:rgb(255, 72, 0);
            font-weight: bold;
            font-family:'Gill Sans', 'Gill Sans MT' ;
        }
        span:nth-child(3){
            font-size: 14vh;
            background-image:linear-gradient(45deg ,rgb(16, 38, 243),red);
            -webkit-background-clip:text;
            -moz-background-clip:text;
            -webkit-text-fill-color:transparent;
            -moz-text-fill-color:transparent;

        }

       

        
    }


    

}

.section1{
    width:90%;
    margin: 0 auto;
    padding: 5%;

    h1{
        font-size: 3em;
        margin-bottom:.51em;
        font-family: sans-serif;
    }


    .inside-content{
        display: flex;
        justify-content: space-between;

        .first{
            width:27%;
            h2{
                font-size: 1.3em;
                color:#e01860;
                margin-bottom: .53em;
            }
            p{
                font-size: 1.1rem;
                line-height: 1.6em;
            }
        }
        .second{
            width:28%;
            h2{
                font-size: 1.3em;
                color:#e01860;
                margin-bottom: .53em;
            }
            p{
                font-size: 1.1rem;
                line-height: 1.6em;
            }
        }
        .third{
            width:28%;
            h2{
                font-size: 1.3em;   
                color:#e01860;
                margin-bottom: .53em;
            }
            p{
                font-size: 1.1rem;
                line-height: 1.6em;
            }
        }
    
    }

}
    .section2{
        width:95%;
        background: white;
        padding: 1em;
        text-align: center;
        margin:0 auto;
        h2{
            color:#e01860;
            font-family: verdana;
            margin:0.7em 0 0.3em 0;
            font-size: 3.3em;
        }

        h3{
            color:black;
            font-size: 1.9em;
            font-weight: lighter;
            font-family: verdana;
            margin:0.2em 0 2em 0;
        }

    
          
        .fluid-div{
            
            width:100%;
            height:100%;
            display: flex;
            padding: .5em;
            align-items: center;

            .image-div{
                height:430px;
                width:600px;
                background: url("./images/2.jpg");
                background-size: cover;
                background-position: 0  20%;
            }

            .article1{
                margin-left: 2em;
                font-size: 1.4rem;
                max-width:33.3%;
                padding: .25em;
                
                
            }
        }
    }

    

.section3{
    height:100vh;
    width:100%;
    padding: 3em 3em 3em 3em;
    margin:0 auto;
    text-align: center;

    h2{
        background-image: linear-gradient(50deg,#e01860,blue,);
        -webkit-background-clip: text;
        -webkit-text-fill-color:transparent;
        font-size: 3em;

    }

    .cards{
        display: flex;
        justify-content: space-between;
        width:100%;
        .card{
            margin-top:5%;
            padding: 1em;
            height:340px;
            width:30%;
            border:5px solid #e01860;
            text-align: center;

            h3{
                margin-bottom:2em;
                font-size: 1.3em;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-weight: normal;
            }

            h1{
                margin-bottom:1em;
                color:#e01860;
            }
            p{
                line-height: 4vh;
                font-size: 1.2rem;
                margin-bottom: 1em;
            }

            button{
                padding: 5% 10% 5% 10%;
                font-size: 1.1rem;
                font-weight: bold;
                color:white;
                background-color: #e01860;
                border:none;
                outline: none;
                cursor: pointer;

                &:hover{
                    background-color: #b60747;
                }
            }
        }
    }
}
.section4{
    height:40vh;
    text-align: center;
    width:100%;
    margin-top:4em;
    
    h1{
        line-height: 20vh;
        font-size: 4em;
        
    }

    .all-social-icons{
        width:50%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        font-size: 2.6em;

        .fa-facebook{color:blue ;}
        .fa-instagram{background-image: linear-gradient(195deg,rgb(245, 38, 38),rgb(255, 0, 221));
            -webkit-background-clip: text;
            -webkit-text-fill-color:transparent;}
        .fa-telegram{color:#0088CC;}
        .fa-linkedin-square{color:#2867B2;}
        .fa-twitter{color:#38A1F3 ;}
        .fa-github{color:#211F1F ;}

        .fa{
            &:hover{
                transform: scale(1.2);
            }
        }
    }
}

}

//media queries

@media screen and (max-width:1050px){

    .fullscreen{
        .section2{
            .fluid-div{
                flex-direction: column;
                .article1{
                    max-width:100%;
                }
            }
        }
        .section3{
            .cards{
                .card{
                    width:40%;
                }
            }
        }
    
    
    }
}


@media screen and (max-width:950px){

    .fullscreen{
        .wrapper{
            nav{
                .burger{
                    display: block;
                }
                .logo{
                    
                }
                .new-menubar{
                    height:30vh;
                }
                .menubar .list{
                    flex-direction: column;
                    justify-content: space-around;
                    
                }
                .none{
                    display: none;
                }
                .social-icons{
                    width:10%;
                }
            }
        }
        .section2{
            .fluid-div{
                flex-direction: column;
                .article1{
                    max-width:100%;
                }
            }
        }
        .section3{
            .cards{
                .card{
                    width:40%;
                }
            }
        }
    
    
    }
}
@media screen and (max-width:768px){

    .fullscreen{
        .wrapper{
            nav{
                .social-icons{
                    width:15%;
                }
            }
        }
        .section2{
            .fluid-div{
                flex-direction: column;
                .article1{
                    max-width:100%;
                }
            }
        }
        .section3{
            .cards{
                flex-direction: column;
                align-items: center;
                .card{
                    width:60%;
                }
            }
        }
    
    
    }
}

@media screen and (max-width:620px){

    .fullscreen{
        .wrapper{
            nav{
                .social-icons{
                    width:17%;
                }
            }
            .heading{
                width:80%;
                span:first-child{
                    font-size: 1.7em;
                }   
                span:last-child{
                    font-size: 4em;
                }
            }
        }

        .section1{
            h1{
                font-size: 2em;
            }
            .inside-content{
                .first{width:30%;
                    h2{
                        font-size: 1.2rem;
                    }
                    p{
                        font-size: 1rem;
                    }
                }
                .second{width:30%;
                    h2{
                        font-size: 1.2rem;
                    }
                    p{
                        font-size: 1rem;
                    }
                }
                
                .third{width:30%;
                    h2{
                        font-size: 1.2rem;
                    }
                    p{
                        font-size: 1rem;
                    }
                }
                
                
            }

        }

        .section2   {
            h2{
                font-size: 2em;
            }
            h3{
                font-size: 1.3em;
            }
            .fluid-div{
                .image-div{
                    width:500px;
                    background-position: 0 10%;

                }
                .article1{
                    max-width: 100%;
                    margin-left: 10px;
                    font-size: 1.2rem;
                }
            }
        }
        
        .section3{
            .cards{
                flex-direction: column;
                align-items: center;
                .card{
                    width:70%;
                }
            }
        }
        .section4{
            .all-social-icons{
                width:90%;
            }
        }
    
    
    }
}


@media screen and (max-width:520px){

    .fullscreen{
        .wrapper{
            background-position: 70%;
            .new{
                .cut{
                    position:absolute;
                    right:5%;
                    top:8%;
                }
                .fa-times{
                    display: block;
                    font-size:1.9em;
                }
            }
            
            nav{
                transition: all 0.5s;
                .cross{
                    display: none;
                    right:10.4%;
                    top:9.9%;
                }

                .social-icons{
                    width:19%;
                }
            }
            .heading{
                width:50%;
                span:first-child{
                    font-size: 1.5em;
                }   
                span:last-child{
                    font-size: 3.3em;
                }
            }
        }

        .section1{
            text-align:center;
            h1{
                font-size: 2em;
            }
            .inside-content{
                flex-direction: column;
                justify-content: space-between;
                ;
                .first{width:100%;
                        margin: 2em 0  2em 0;
                    
                    h2{text-align: center;
                        font-size: 1.3rem;
                    }
                    p{
                        font-size: 1.1rem;
                    }
                }
                .second{width:100%;
                    margin: 2em 0  2em 0;

                    h2{text-align: center;
                        font-size: 1.3rem;
                    }
                    p{
                        font-size: 1.1rem;
                    }
                }
                
                .third{width:100%;
                    margin: 2em 0  2em 0;

                    h2{text-align: center;
                        font-size: 1.3rem;
                    }
                    p{
                        font-size: 1.1rem;
                    }
                }
                
                
            }

        }


        .section2   {
            h2{
                font-size: 1.5em;
            }
            h3{
                font-size: 1em;
            }
            .fluid-div{
                .image-div{
                    width:100%;
                    height:40vh;
                    margin: 0;
                    background-position:20% ;

                }
                .article1{
                    max-width: 100%;
                    margin-left: 10px;
                    font-size: 1rem;
                }
            }
        }
        
        .section3{
            h2{
                font-size: 2em;
            }
            .cards{
                flex-direction: column;
                align-items: center;
                .card{
                    width:90%;
                }
            }
        }
        .section4{
            h1{
                font-size: 2em;
            }
            
            .all-social-icons{
                width:100%;
                font-size: 2em;
            }
        }
        
    
    
    }
}

@media screen and (max-width:360px){
    .fullscreen {
        .wrapper nav .burger{
            width:2em;

            .layer1,.layer2,.layer3{
                border-radius: 20em;
            }
        } 
        .section3{
            padding: 1em;
        }
        .section4{
            margin-top:0;
            height:unset;
            padding-bottom:2em;
            .all-social-icons{
                width:90%;
            }
        }
    }
}
